.conteiner {
    max-width: 2100px;
   margin: 0 auto;
}

.menu {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

.leftPanal {
    padding: 50px 30px 25px 30px;
    font-size: 18px;
    border-right: 1px solid rgb(143, 124, 124);
}

.content {
    padding: 50px;
}