.IUSER {
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.dicarationUser {
    position: absolute;
    right: -15px;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.h1 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
}

.input {
    border-radius: 12px;
    min-width: 400px;
    padding: 10px;
    margin-right: 20px;
}

.btn {
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(4, 190, 4);
    border: none;
    color: #fff;
    cursor: pointer;
}